#!/bin/bash
{{- if eq .chezmoi.os "darwin" }}
# Install oh-my-zsh if missing
if [[ ! -d "$HOME/.oh-my-zsh" ]]; then
  sh -c "$(curl -fsSL https://raw.githubusercontent.com/ohmyzsh/ohmyzsh/master/tools/install.sh)" "" --unattended
fi

# Symlink Homebrew-installed zsh plugins and themes into oh-my-zsh custom dirs
mkdir -p "$HOME/.oh-my-zsh/custom/themes" "$HOME/.oh-my-zsh/custom/plugins"

ln -sf /opt/homebrew/share/powerlevel10k "$HOME/.oh-my-zsh/custom/themes/powerlevel10k"
ln -sf /opt/homebrew/share/zsh-autosuggestions "$HOME/.oh-my-zsh/custom/plugins/zsh-autosuggestions"
ln -sf /opt/homebrew/share/zsh-syntax-highlighting "$HOME/.oh-my-zsh/custom/plugins/zsh-syntax-highlighting"
{{- end }}