#!/usr/bin/env bash
set -e


# Install NVM and pnpm
curl -o- https://raw.githubusercontent.com/nvm-sh/nvm/v0.39.5/install.sh | bash
curl -fsSL https://get.pnpm.io/install.sh | sh -

{{- if eq .chezmoi.osRelease.id "arch" }}

sudo pacman-key --recv-key 3056513887B78AEB --keyserver keyserver.ubuntu.com
sudo pacman-key --lsign-key 3056513887B78AEB
sudo pacman --noconfirm -U \
'https://cdn-mirror.chaotic.cx/chaotic-aur/chaotic-keyring.pkg.tar.zst' \
'https://cdn-mirror.chaotic.cx/chaotic-aur/chaotic-mirrorlist.pkg.tar.zst'

# Add repo to /etc/pacman.conf
echo '
[chaotic-aur] 
Include = /etc/pacman.d/chaotic-mirrorlist' | sudo tee -a /etc/pacman.conf

sudo pacman -S --noconfirm \
  git-lfs \
  tmux \
  unzip \
  zip \
  neovim \
  less
{{- end }}

{{- if eq .chezmoi.osRelease.id "ubuntu" }}
sudo apt-get update
sudo apt-get install --yes \
  git-lfs \
  tmux \
  nodejs \
  jq \
  unzip \
  rng-tools \
  zip \
  neovim
{{- end }}