#!/usr/bin/env bash
set -e


# Install NVM and pnpm
curl -o- https://raw.githubusercontent.com/nvm-sh/nvm/v0.39.5/install.sh | bash
curl -fsSL https://get.pnpm.io/install.sh | sh -

{{- if eq .chezmoi.osRelease.id "arch" }}
sudo pacman -S --noconfirme \
  git-lfs \
  tmux \
  unzip \
  zip \
{{- end }}

{{- if eq .chezmoi.osRelease.id "ubuntu" }}
sudo apt-get update
sudo apt-get install --yes \
  git-lfs \
  tmux \
  nodejs \
  jq \
  unzip \
  rng-tools \
  zip
{{- end }}